:root {
  color: #0f0f0f;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  background-color: #f6f6f6;

  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: .75s;
  will-change: filter;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  padding: .6em 1.2em;
  color: #0f0f0f;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color .25s;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #fff;
    background-color: #0f0f0f98;
  }
}
